.navBarMain {
  display: flex;
  justify-content: center;
  background-color: aqua;
  color: aqua;
  justify-content: space-evenly;
  font-size: 1rem;
}
.navBarMain li {
  margin: 8px;
  background-color: rgb(145, 54, 250);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 0 rgb(18, 18, 18);
  transition: transform 0.2s, box-sahdow 0.2s;
}
.navBarMain li:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0 0 0 red;
}
.navBarMain li:hover {
  background-color: rgb(7, 153, 61);
}
